@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@500&display=swap');

*
{
    font-family: 'Oswald', sans-serif;
}

body
{
    background-color: #e8e8e8;
}
.container
{
    margin: 10px;
}
.heading
{
    font-size: 40px;
    margin: 2px;
}

@media screen  and (max-width: 768px)
{
    .container
    {
        margin: 2px;
        padding: 5px;
    }
    .heading
    {
        font-size: 20px;
    }
    
}